*{
	margin: 0;
	padding: 0;
	border: 0;
}
a:hover{
	color: #EFB1B1;
}
a:visited{
	color: #CFC2A9;
}
a:active{
	color: #F00;
}
body{
	background: url(image/background.png);
}
h1{
	font-family: 'Indie Flower', cursive;
	letter-spacing: 4px;
	color: #EFB1B1;
}
p{
	font-family: 'Pacifico', cursive;
	font-size: 21px;
	color: #808080;
}
.block{
	width: 460px;
	float: left;
	margin: 10px; 
}
.container {
	background-color: #FFF;
	overflow: hidden;
	max-width: 980px;
	margin: 25px auto;
	box-shadow: 0 0 30px #CCC;
	border-radius: 5px;
	padding: 16px;
}
.header{
	margin:10px;
	line-height: 80%;
}